* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  padding: 40px;
}
body {
  width: 60rem;
  margin: 0 auto;
  padding: 0;
  font-family: 'avenir next', sans-serif;
  font-size: 1rem;
  color: #222;
}
.horizontal {
  display: flex;
  justify-content: space-between;
}
.vertical {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #e43;
}
h2 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #333;
}
h1, h2 {
  margin: 0;
}
.left {
  width: 20rem;
  height: 38rem;
}
.details {
  height: 4rem;
}
.preview {
  width: 38rem;
  height: 38rem;
  border-radius: 0.5rem;
  background: #f9f9f9;
}
#gcode {
  width: 20rem;
  margin: 4rem auto 0;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
  background: #f9f9f9;
  color: #999;
}
#preview {
  box-sizing: content-box;
  width: 36rem;
  height: 36rem;
  margin: 0.875rem;
  border: 0.125rem dashed #ccc;
}
.inputs {
  height: 33rem;
  align-items: flex-end;
}
select {
  width: 100%;
  height: 2rem;
  background: #fff;
  color: #999;
  border: 0.125rem solid #eee;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.25rem 1.25rem;
  margin: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}
select:hover {
  border-color: #def;
  color: #39f;
}
select:focus {
  outline: none;
}
textarea {
  margin: 0;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #333;
  border: 0.25rem solid #eee;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  height: 27rem;
}
textarea:focus {
  outline: none;
  border-color: #def;
}
textarea::selection {
  background: #39f;
  color: #fff;
}
button {
  height: 2rem;
  background: #fff;
  color: #39f;
  border: 0.125rem solid #def;
  padding: 0.25rem 1rem;
  margin: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}
button + button {
  margin-left: 0.5em;
}
button svg {
  width: 1.25rem;
  height: 1.25rem;
}
button path {
  fill: #39f;
  stroke: none;
}
button:focus {
  outline: none;
}
button:hover {
  border: 0.125rem solid #39f;
  background: #39f;
  color: #fff;
}
button:hover path {
  fill: #fff;
  stroke: none;
}

.grid {
  fill: #ddd;
  stroke: none;
}
.marker {
  fill: #39f;
  stroke: #fff;
}
.path {
  fill: none;
  stroke: #39f;
  stroke-linejoin: round;
  stroke-linecap: round;
  opacity: 0.4;
}
